$color: black;
$pass: hsla(1, 100%, 100%, 0);

$header-color: hsla(179, 46%, 44%, 1);
$projects-color: hsla(254, 41%, 52%, 1);
$resume-color: hsla(40, 58%, 40%, 1);
$info-color: hsla(90, 30%, 30%, 1);

$list-group-bg: $pass;

$text-color: $color;
$link-color: $color;
$link-hover-color: opacify($link-color, 0.15);
$close-color: $color;

$mit-color: #993333;
$fmi-color: #7f0654;
$ibm-color: #466BB0;
$ninja-color: black;
$streamcal-color: #41c1cc;
$thomson-color: #ec7a19;
$consulting-color: green;

@import "variables";

@import "bootstrap";
@import "font-awesome";
@import "timestack";

body {
  background-color: white;
}

p.date {
  color: transparentize($color, 0.15);
}

h1 {
  text-transform: none;
}

h3.main-links {
  line-height: $headings-line-height * 1.25;
}

.row {
  margin-bottom: 20px;
  margin-top: 4px;
}

a {
  text-decoration: none;
}

p a {
  text-decoration: underline;
}

@mixin panel-box($color) {
  @include panel-variant(darken($color, 10%), white, $color, none);

  .panel-body, .panel-footer {
    color: black;
    a {
      color: black;
    }
    a:hover {
      color: black;
    }
  }

  button.btn.demo-button {
    @include button-variant(white, $color, darken($color, 10%));
    float: right;
  }

  @media (max-width: $screen-md) {
    button.btn.demo-button {
      display: none;
    }
  }
}

.panel-moment {
  @include panel-box($moment-color);
}

.panel-twix {
  @include panel-box($twix-color);
}

.panel-timestack {
  @include panel-box($timestack-color);
}

.panel-fbfriends {
  @include panel-box($fbfriends-color);
}

.panel-lazer {
  @include panel-box($lazer-color);
}

.panel-resume-overview {
  @include panel-box(darkblue);
}

.panel-mit {
  @include panel-box($mit-color);
}

.panel-foster-miller {
  @include panel-box($fmi-color);
}

.panel-ibm {
  @include panel-box($ibm-color);
}

.panel-thomson {
  @include panel-box($thomson-color);
}

.panel-ninja {
  @include panel-box($ninja-color);
}

.panel-streamcal {
  @include panel-box($streamcal-color);
}

.panel-consulting {
  @include panel-box($consulting-color);
}

#timeline-section {
  display: none;
}

.js-enabled {
  #timeline-section {
    display: block;
  }
}

ul.timestack-events {
  color: hsla(110, 100%, 100%, 0.85);

  li.timeline-mit {
    background-color: $mit-color;
  }

  li.timeline-foster-miller {
    background-color: $fmi-color;
  }

  li.timeline-ibm {
    background-color: $ibm-color;
  }

  li.timeline-thomson {
    background-color: $thomson-color;
  }

  li.timeline-ninja {
    background-color: $ninja-color;
  }

  li.timeline-streamcal {
    background-color: $streamcal-color;
  }

  li.timeline-consulting {
    background-color: $consulting-color;
  }
}

@media (max-width: $screen-md) {
  .corp-logo {
    display: none;
  }
}

.demo-header {
  text-transform: capitalize;
}

.date-range {
  font-weight: bold;
  font-size: 110%;
}

@mixin large-modal {

  .modal-dialog {

    top: 5%;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 100%;

    .modal-content {
      position: absolute;
      max-height: none;
      height: 90%;
      width: 100%;
    }

    .modal-body {
      position: relative;
      height: 90%;
      width: 100%;
      max-height: none;
    }
  }
}

#demo-modal {
  .modal-header {
    color: white;
  }
  .close {
    color: white;
  }
  @include large-modal;
}

iframe {
  position: relative;
  height: 100%;
}

.moment-demo-header {
  background-color: $moment-color;
}

.twix-demo-header {
  background-color: $twix-color;
}

.timestack-demo-header {
  background-color: $timestack-color;
}

.fbfriends-demo-header {
  background-color: $fbfriends-color;
}
