@import "variables";

$link-color: $moment-color;
$link-color-hover: lighten($moment-color, 10%);

@import "bootstrap";
@import "font-awesome";

@import "jquery.simple-dtpicker";

.container :first-child {
  margin-top: 0px;
}

h1, h2, h3, h4 {
 color: $moment-color;
}
