$border-radius-base: 0px;
$border-radius-large: 0px;

$moment-color: black;
$twix-color: hsla(117, 36%, 29%, 1);
$timestack-color: darken(yellow, 20%);
$fbfriends-color: #4862a3;
$lazer-color: darkred;
