.row
  .col-md-12
    %noscript
      %p You'd see Tweets and a Github feed here if you had JS enabled.
  .col-md-6
    %h4
      %i.icon-twitter
      Recent tweets
    #twitter
      %h2{class: 'icon-spinner icon-spin icon-large loader'}

  .col-md-6
    %h4
      %i.icon-github
      Github activity

    #github
      %h2{class: 'icon-spinner icon-spin icon-large loader'}
