.row
  .col-md-12
    %noscript
      %p You'd see Tweets and a Github feed here if you had JS enabled.
  .col-md-6
    %h4
      %i.icon-twitter
      Recent tweets
      %a.info-link{href: "http://twitter.com/icambron"} Me on Twitter
    #twitter
      %h2{class: 'icon-spinner icon-spin icon-large loader'}

  .col-md-6
    %h4
      %i.icon-github
      Github activity
      %a.info-link{href: "http://github.com/icambron"} Me on Github

    #github
      %h2{class: 'icon-spinner icon-spin icon-large loader'}
