.row
  .col-md-12
    %noscript
      %p You'd see Tweets and a Github feed here if you had JS enabled.
  .col-md-6
    %h4
      %i.fa.fa-twitter
      Recent tweets
    #twitter
      %h2{class: 'fa fa-spinner fa-spin fa-large loader'}

  .col-md-6
    %h4
      %i.fa.fa-github
      Github activity

    #github
      %h2{class: 'fa fa-spinner fa-spin fa-large loader'}
