#header
  .container
    .row
      .col-md-12
        %h1 Isaac Cambron

    .row

      .col-md-3
        %img{src: "/images/headshot.jpg"}

      .col-md-5
        %p.lead I build stuff. Mostly for the web.
        %p I live in Cambridge, MA. I'm usually up for a drink and a chat. I don't want a job at your company, though I'm occasionally available for short-term contract work.

      .col-md-4
        %h3.main-links
          %ul.list-unstyled
            %li
              %a{href: "#projects"} Projects
            %li
              %a{href: "#resume"} Resumé
            %li
              %a{href: "/blog"} Blog
        %ul.list-unstyled
          %li
            %i.icon-envelope
            %a{href: "mailto:isaac@isaaccambron.com"} isaac@isaaccambron.com
          %li
            %i.icon-twitter
            %a{href: "http://twitter.com/icambron"} @icambron
          %li
            %i.icon-github
            %a{href: "http://github.com/icambron"} github.com/icambron

#projects
  .container
    %h2 Projects

#resume
  .container
    %h2 Resumé

#info
  .container
    .row
      .col-md-6
        #twitter
      .col-md-6
        #github
